<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Ninja | <%= title %></title>
</head>
<body>
    <nav>
        <div class="title">
            <a href="/">Blog Ninja</a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laboriosam commodi 
            qui quam iusto sapiente quisquam, asperiores alias iste quae. 
            Totam eum natus doloremque accusamus vitae? Assumenda non corporis veritatis.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laboriosam commodi 
            qui quam iusto sapiente quisquam, asperiores alias iste quae. 
            Totam eum natus doloremque accusamus vitae? Assumenda non corporis veritatis.
        </p>
    </div>
</body>
</html>