<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Ninja | <%= title %></title>
</head>
<body>
    
    <nav>
        <div class="title">
            <a href="/">Blog Ninja</a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h1>All Blogs</h1>
    </div>
</body>
</html>

<!-- ejs allows you to generate dynamic HTML markup using simple and familiar syntax, used for server-side rendering -->